fastapi[standard]
uvicorn[standard]
websockets
sqlalchemy
pymysql
psycopg2-binary
psycopg[binary]
pgvector
neo4j
langchain
langchain-openai
langchain-community
langchain-postgres
langgraph
langsmith
pydantic-settings
python-dotenv
pandas
pyyaml
asyncpg
